# White vs Black Mates

In [817]:
import pandas as pd
import numpy as np
import os

In [818]:
# Making a df of only games ended by check mate
df = pd.read_csv (r'games.csv')
mate_df = df[df["victory_status"] == "mate"]

In [819]:
black_win = mate_df[mate_df["winner"]=="black"]
white_win = mate_df[mate_df["winner"]=="white"]

In [820]:
#interested only in moves
white_games = pd.DataFrame(white_win,columns=["moves"])
black_games = pd.DataFrame(black_win,columns=["moves"])

In [821]:
#unpacking moves into columns
white_games = white_games["moves"].str.split(' ', expand=True)
black_games = black_games["moves"].str.split(' ', expand=True)

In [823]:
# black moves in game won by white
white_games_black_moves =  white_games.iloc[0:,1::2] 
white_games_black_moves.sample(3)

,1,3,5,7,9,11,13,15,17,19,...,173,175,177,179,181,183,185,187,189,191
14387,e6,d5,c5,cxd4,Qxd5,Qd6,Nc6,Qd8,Nf6,Kxf7,...,None,None,None,None,None,None,None,None,None,None
553,e6,Qf6,b6,Qg6,Bb7,h6,Qxg2,f5,Qxg1,Na6,...,None,None,None,None,None,None,None,None,None,None
14089,c6,d5,Nd7,Nh6,Bxd7,gxh6,Bf5,e6,cxd5,Be4,...,None,None,None,None,None,None,None,None,None,None

In [824]:
# white moves in games won by black
black_games_white_moves =  black_games.iloc[0:,::2] # mosse del bianco in partite vinte da nero
black_games_white_moves.sample(3)

,0,2,4,6,8,10,12,14,16,18,...,202,204,206,208,210,212,214,216,218,220
14230,g3,Bg2,d3,Bg5,Bxf6,e4,dxe4,Kxd1,f3,f4,...,None,None,None,None,None,None,None,None,None,None
7075,Nc3,d4,Nf3,Bg5,Bxf6,e4,Bd3,bxc3,exf5,Qe2+,...,None,None,None,None,None,None,None,None,None,None
11150,e4,Nc3,d3,Nf3,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [825]:
#putting back together in a single columns all moves of game
cols = list(white_games_black_moves.columns)
white_games_black_moves["moves"] = white_games_black_moves[cols].apply(lambda row: ' '.join(row.values.astype(str)), axis=1)
white_games_black_moves = white_games_black_moves[["moves"]]

cols = list(black_games_white_moves.columns)
black_games_white_moves["moves"] = black_games_white_moves[cols].apply(lambda row: ' '.join(row.values.astype(str)), axis=1)
black_games_white_moves = black_games_white_moves[["moves"]]

In [816]:
#export
black_games_white_moves.to_excel("black_games_white_moves_joined.xlsx",header=True)
white_games_black_moves.to_excel("white_games_black_moves_joined.xlsx",header=True)

# Fx approach

In [412]:
#transkorming array into strings
list_white_games = white_games.values.tolist()[0:5] #array di array
list_black_games = black_games.values.tolist()[0:5] #array di array

def flatten(t):
    return [item for sublist in t for item in sublist]

list_white_games = flatten(list_white_games)   #array di stringhe
list_black_games = flatten(list_black_games)

In [767]:
splitted_white_games = list(map(lambda game:game.split() ,list_white_games)) #array di array di stringhe
splitted_black_games = list(map(lambda game:game.split() ,list_black_games)) #array di array di stringhe

In [573]:
#takes a game and return kings move
def extract_Ks_from_game(game):
    return list(filter(lambda move:move.startswith("K"),game))

#gets the last move from the kings move
def get_last_move(moves):
    return moves[-1]

In [581]:
for x in range(len(black_moves)):
    k_moves=[]
    k_moves.append(extract_Ks_from_game(black_moves[x]))

In [768]:
white_moves = [i[::2] for i in splitted_black_games]   #get moves of white in black winning games
black_moves = [i[1::2] for i in splitted_white_games]  #get moves of black in white winning games